body {
	background-color: #D1D5DE;
}

p, li, a {
font-family: 'Playfair Display', serif;

}

#floatright {
	float: right;
}
img{
	float:center;
	margin-right:50px;
	padding:10px;
	border:2px solid transparent;
	border-color: navy;
}
#homepageheader{
	background-image: url("wallpaper.png");
}

a:hover {
  color: hotpink;
}

h1{
	font-family:'Playfair display';
}

