body {
	background-color: #D1D5DE;
}

p, li, a {
font-family: 'Zilla Slab', serif;
}
img{
	float:right;
	margin-right:50px;
	padding:10px;
}
#homepageheader{
	background-image: url("wallpaper.png");
}